---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$baseurl: "{{ site.baseurl }}";


// Our variables
$base-font-family: "Noto Sans", Helvetica, Verdana, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$reg-spacing:      30px;
$small-spacing:    5px; 

$text-color:       #e5efff;
$background-color: #232327;
$brand-color:      #abcfff;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$svg-colour: #828282;

// Width of the content area
$content-width:    1000px;

$on-palm:          600px;
$on-laptop:        800px;

//colours for the title
$c1:               #99c496;
$c2:               #84bbbd;
$c3:               #d6a8d4;

// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
