@property --rotation {
    syntax: "<angle>";
    inherits: false;
    initial-value: 0deg;
}
@font-face { font-family: 'JetlabMedium'; src: url("../assets/fonts/JetlabMedium.otf");}
@font-face { font-family: 'Bebas Neue'; src: url("../assets/fonts/BebasNeue.otf");}

/* latin-ext */
@font-face {
  font-family: 'Caveat';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/caveat/v22/WnznHAc5bAfYB2QRah7pcpNvOx-pjSx6eIupYSxP.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Caveat';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/caveat/v22/WnznHAc5bAfYB2QRah7pcpNvOx-pjSx6eIWpYQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
  font-family: 'Noto Sans';
  font-style: italic;
  font-weight: 100 900;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/notosans/v39/o-0ZIpQlx3QUlC5A4PNr4C5OaxRsfNNlKbCePevtt3OmHSl1igg0eP4.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Noto Sans';
  font-style: italic;
  font-weight: 100 900;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/notosans/v39/o-0ZIpQlx3QUlC5A4PNr4C5OaxRsfNNlKbCePevtuXOmHSl1igg0.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


@keyframes shift {
    0% {
        --rotation: 0deg;
    }

    100% {
        --rotation: 360deg;
    }
}

.site-title {
    // animation key frames from above, then uses them below.
    font-size: 50px;
    letter-spacing: -2px;
    margin-bottom: 0px;
    text-align: center;
    text-transform: lowercase;

    --rotation: 0deg;

    animation: shift 25s infinite linear; // shift is the name, 5 seconds, goes on forever and linear interpolation
    // flex: 1 1 auto;
    background: linear-gradient(var(--rotation), #84e07c, #57cbcf, #ffaffb, #57cbcf); // c1 c2 c3 are the colours, changed in css/main.scss, we dont actually need to use these 
    background-clip: text;


}

.site-title a {
    color: transparent;
    font: inherit;
}

.socials-list {
    font-size: 15px;
    display: flex;
    justify-content: space-evenly;

}

.footer-description {
    text-align: center;
    font-family: Segoe Script, "Caveat", cursive;
    a {
        color: $text-color; 
    }
}

.flex-container {
    display: flex;
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: $reg-spacing / 2;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            >svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $svg-colour;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }

            margin-left: 20px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    /* border-top: 1px solid $grey-color-light; */
    padding: $reg-spacing 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $reg-spacing / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$reg-spacing / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $reg-spacing / 2;
    padding-left: $reg-spacing / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$reg-spacing} / 2));
    width: calc(35% - (#{$reg-spacing} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$reg-spacing} / 2));
    width: calc(20% - (#{$reg-spacing} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$reg-spacing} / 2));
    width: calc(45% - (#{$reg-spacing} / 2));
}

@include media-query($on-laptop) {

    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$reg-spacing} / 2));
        width: calc(50% - (#{$reg-spacing} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$reg-spacing} / 2));
        width: calc(100% - (#{$reg-spacing} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$reg-spacing} / 2));
        width: calc(100% - (#{$reg-spacing} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $small-spacing 0;
}

.page-heading {
    font-size: 40px;
    text-align: center;
}

.page-list,
.post-list {
    margin-left: 0;
    list-style: none;


    >li {
        margin-bottom: 0rem; // No more gaps in between posts! 
    }

}

.page-list {
    /*
    border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(115, 115, 115);
  */
}

.thoughts {
    text-align: center;
    font-size: 10px;
}

.thought-list {
    margin: 10px auto;
    text-align: center;
}

.thoughts-post-title {
    display: inline-block;
    font-size: 20px;
}

.thoughts-post-link {
    display: inline-block;
    font-size: 12px;
}



.post-meta {
    font-size: 25px;
    color: $grey-color;
    margin-top: auto;
}

.post-link {
    display: inline-block;
    // font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $small-spacing;
    text-align: center;

}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;
    margin-bottom: 5px;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $reg-spacing;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}


.footnote {
    font-weight: 700;
}

.footnotes {
    font-style: italic;
}


#breadcrumbs {
    margin-bottom: $small-spacing;
    text-align: center;
    text-transform: lowercase;
}

.nav-links {
    align-items: center;
    text-transform: lowercase;

}

.page-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.page-link {}

.post-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.thoughts-signature-container {
    display: flex;
    flex-direction: row;
    justify-content: end;
    font-family: "Caveat", cursive;
    font-size: 30px; 
    
}

.thoughts-signature {
    margin-top: auto;   
}
