<style>
  body {
    background-color: black;

  }

  .site-footer {
    display: none;
  }
</style>

<!DOCTYPE html>
<html>

{% include head.html %}

<body>


  {% include header.html %}
  {% include nav-links.html %}
  {% include breadcrumbs.html %}
  <div class="page-content">
    <div class="wrapper">
      {{ content }}

      <!-- 
      loads site within site. too hard to figure out, especially when i have index available. 
      <iframe src="{{ site.baseurl }}/thoughts/thoughts-list.html" style="border: none; width: 100%; height: 80%; "
        title="description"></iframe>
        
        -->
      
      <div class="thoughts">

        {% assign posts = site.posts %}

        {%- if posts.size > 0 -%}
        {%- if page.list_title -%}
        <h2 class="post-list-heading">{{ page.list_title }}</h2>
        {%- endif -%}
        <div class="thought-list">
          {%- assign date_format = site.minima.date_format | default: "%m/%d/%Y" -%}
          {%- for post in posts -%}
          {% if post.category == "Thoughts" %}


          <a class="thoughts-post-title" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
          <div class="thoughts-post-link">{{ post.date | date: date_format }}</div>

          {% endif %}
          {%- endfor -%}
          {%- endif -%}

        </div>
      </div>
    </div>
  </div>

  {% include footer.html %}

</body>

</html>